.disabled,
.btn--disable,
.input--disable,
.style-label--disable {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.old-browser {
  background: #808080;
  width: 100%;
  height: 100vh;
  padding-top: 200px;
}
.old-browser-text {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.filter-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17,17,17,0.612);
}
.drop {
  transform: scaleY(0);
  transition: all 0.4s;
  transform-origin: top;
  opacity: 0;
}
.drop.active {
  transform: scaleY(1);
  opacity: 1;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
iframe {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-radius: 4px;
}
table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table thead:first-child tr th,
table thead:first-child tr td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #ddd;
}
table th + th,
table td + td,
table th + td,
table td + th {
  border-left: 1px solid #ddd;
}
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}
table thead:first-child tr:first-child th:first-child,
table tbody:first-child tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}
table thead:first-child tr:first-child th:last-child,
table tbody:first-child tr:first-child td:last-child {
  border-radius: 0 4px 0 0;
}
table thead:last-child tr:last-child th:first-child,
table tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}
table thead:last-child tr:last-child th:last-child,
table tbody:last-child tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}
table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #f5f5f5;
}
body > svg {
  display: none;
}
@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Bold.woff2") format('woff2'), url("../fonts/Nunito-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Regular.woff2") format('woff2'), url("../fonts/Nunito-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
.type--xs {
  font-size: 12px;
}
@media only screen and (max-width: 768px) {
  .type--xs {
    font-size: 10px;
  }
}
.type--sm,
.title--sm,
h5,
.footer-text {
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  .type--sm,
  .title--sm,
  h5,
  .footer-text {
    font-size: 12px;
  }
}
.type--main,
.title--main,
h4,
p,
body {
  font-size: 16px;
}
@media only screen and (max-width: 768px) {
  .type--main,
  .title--main,
  h4,
  p,
  body {
    font-size: 14px;
  }
}
.type--md,
.title--md,
h3,
.slogan__text,
.advant__el-title,
.payment__descr,
.payment__cost-text,
.order-text,
.why li {
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  .type--md,
  .title--md,
  h3,
  .slogan__text,
  .advant__el-title,
  .payment__descr,
  .payment__cost-text,
  .order-text,
  .why li {
    font-size: 15px;
  }
}
.type--lg,
.title--lg,
h2,
.modal-title,
.logo,
.tools__title,
.payment__title {
  font-size: 26px;
}
@media only screen and (max-width: 768px) {
  .type--lg,
  .title--lg,
  h2,
  .modal-title,
  .logo,
  .tools__title,
  .payment__title {
    font-size: 24px;
  }
}
.type--xl,
.title--xl,
h1,
.solution__title,
.payment__cost,
.footer-phone,
.about-title {
  font-size: 48px;
}
@media only screen and (max-width: 768px) {
  .type--xl,
  .title--xl,
  h1,
  .solution__title,
  .payment__cost,
  .footer-phone,
  .about-title {
    font-size: 34px;
  }
}
.type--mark {
  color: #f53333;
}
.type--bold {
  font-weight: bold;
}
.type--center {
  text-align: center;
}
.title {
  margin-bottom: 80px;
  font-weight: 700;
  color: #111;
}
@media only screen and (max-width: 640px) {
  .title {
    margin-bottom: 30px;
  }
}
.title--clear {
  margin-bottom: 30px;
}
a {
  color: #111;
  text-decoration: none;
  transition: all 0.4s;
}
a:hover {
  color: #000;
}
a:visiter {
  color: #000;
}
.link--mark {
  color: #f53333;
}
.link--mark:hover {
  color: #b90909;
}
.link--mark:visiter {
  color: #880707;
}
.link--main {
  color: #111;
  border-bottom: #111 solid transparent;
}
.link--main:hover {
  border-bottom: #111 solid;
}
.link--main:hover {
  color: #000;
}
.link--main:visiter {
  color: #000;
}
.link--text {
  color: #111;
  text-decoration: underline;
}
.link--text:hover {
  text-decoration: none;
}
.text p {
  line-height: 1.6;
  margin-bottom: 30px;
}
.text ul {
  margin-bottom: 30px;
}
.text ul li {
  line-height: 1.6;
  margin-bottom: 10px;
}
.text ul li:last-child {
  margin-bottom: 0;
}
.icon-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.icon--sm {
  width: 16px;
  height: 16px;
}
.icon--md {
  width: 24px;
  height: 24px;
}
.icon--left {
  margin-left: 10px;
}
.icon--right {
  margin-right: 10px;
}
.icon--mark {
  fill: #f53333;
}
.icon--gray {
  fill: $gray;
}
.btn,
.btn--sm,
.btn--md,
.btn--lg,
.btn--mobile,
.btn--mark,
.btn--light,
.btn--empty,
.btn--white,
.modal-send,
.slogan__get {
  border-radius: 30px;
  transition: all 0.4s;
  display: inline-block;
  background: none;
  border: 0;
  text-align: center;
  font-weight: 700;
}
.btn:hover,
.btn--sm:hover,
.btn--md:hover,
.btn--lg:hover,
.btn--mobile:hover,
.btn--mark:hover,
.btn--light:hover,
.btn--empty:hover,
.btn--white:hover,
.modal-send:hover,
.slogan__get:hover {
  cursor: pointer;
}
.btn--sm {
  font-size: 10px;
  padding: 5px 10px;
}
.btn--md,
.modal-send,
.slogan__get {
  font-size: 15px;
  padding: 20px 45px;
}
.btn--lg {
  font-size: 20px;
  padding: 10px 30px;
}
@media only screen and (max-width: 768px) {
  .btn--mobile {
    width: 100%;
    text-align: center;
    padding: 18px 10px;
  }
}
.btn--mark,
.modal-send,
.slogan__get {
  color: #fff;
  background: #f53333;
}
.btn--mark .nav-icon,
.modal-send .nav-icon,
.slogan__get .nav-icon {
  fill: #fff;
}
.btn--mark:hover,
.modal-send:hover,
.slogan__get:hover {
  background-color: #b90909;
  color: #fff !important;
}
.btn--mark:active,
.modal-send:active,
.slogan__get:active {
  background-color: #b90909;
}
.btn--mark input[type="submit"],
.modal-send input[type="submit"],
.slogan__get input[type="submit"] {
  border: 0;
}
.btn--mark .nav-icon,
.modal-send .nav-icon,
.slogan__get .nav-icon {
  fill: #fff;
}
.btn--disable {
  border: 1px solid #ddd;
  background-color: #fff;
  color: #000;
}
.btn--light {
  border: 1px solid #ddd;
  background-color: #fff;
}
.btn--light:hover {
  border: 1px solid #f53333;
  color: #111;
}
.btn--light .nav-icon {
  fill: #f53333;
}
.btn--empty {
  border: 1px solid #f53333;
  background-color: #fff;
  color: #f53333;
}
.btn--empty:hover {
  color: #fff;
  background: #f53333;
}
.btn--empty .nav-icon {
  fill: #f53333;
}
.btn--white {
  border: 1px solid rgba(255,255,255,0.9);
  color: rgba(255,255,255,0.9);
}
.btn--white .nav-icon {
  fill: rgba(255,255,255,0.9);
}
.btn--icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn--icon .nav-icon {
  margin-left: 10px;
}
.nav-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.btn--icon-left .nav-icon {
  margin-left: 0;
  margin-right: 10px;
}
.btn-row-mid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
}
@media only screen and (max-width: 640px) {
  .btn-row-mid {
    margin: 30px 0;
  }
}
.btn--full {
  width: 100%;
  display: block;
}
.input,
.textarea,
.select {
  padding: 18px 20px;
  border: 1px solid #ddd;
  resize: none;
  outline: 0 !important;
  border-radius: 30px;
  font-family: 'Nunito', sans-serif;
  display: block !important;
  background: #fff;
  transition: all 0.4s;
}
.input input::-webkit-input-placeholder,
.textarea input::-webkit-input-placeholder,
.select input::-webkit-input-placeholder {
  color: #888;
}
.input input::-moz-placeholder,
.textarea input::-moz-placeholder,
.select input::-moz-placeholder {
  color: #888;
}
.input input:-moz-placeholder,
.textarea input:-moz-placeholder,
.select input:-moz-placeholder {
  color: #888;
}
.input input:-ms-input-placeholder,
.textarea input:-ms-input-placeholder,
.select input:-ms-input-placeholder {
  color: #888;
}
.input:focus,
.textarea:focus,
.select:focus {
  border: 1px solid #f53333;
  background: #fff;
}
.style-label {
  display: flex;
  position: relative;
  align-items: center;
}
.check-el input {
  position: absolute;
  top: 0;
  left: -9999px;
}
.style-input-text {
  color: #111;
  width: calc(100% - 80px);
  line-height: 1.6;
}
.style-input-text a {
  color: #f53333;
}
.style-label--checkbox .style-input-element {
  border-radius: 5px;
  transition: all 0.4s;
  width: 26px;
  height: 26px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #ddd;
}
.style-label--checkbox .style-input-element:hover {
  cursor: pointer;
}
.style-label--checkbox .style-input-element:hover {
  border: 1px solid #f53333;
}
.style-label--checkbox .icon {
  display: none;
}
.style-label--checkbox .style-input:checked ~ .style-input-element {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #f53333;
  border: 1px solid #f53333;
}
.style-label--checkbox .style-input:checked ~ .style-input-element .icon {
  display: block;
  fill: #fff;
  width: 14px;
  height: 14px;
}
.style-label--radio .style-input-element {
  width: 26px;
  height: 26px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 50%;
}
.style-label--radio .style-input-element:hover {
  cursor: pointer;
}
.style-label--radio .style-input-element:hover {
  border: 2px solid #f53333;
}
.style-label--radio .style-input:checked ~ .style-input-element {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 2px solid #f53333;
  background: #fff;
}
.style-label--radio .style-input:checked ~ .style-input-element .icon-radio {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: #f53333;
}
.input-row {
  margin-bottom: 20px;
}
.input-row .input {
  width: 100%;
}
.input-row__title {
  margin-bottom: 15px;
  font-weight: 700;
  color: #111;
}
.input-row--error .input {
  border-color: #ff4136;
  color: #ff4136;
}
.input-row--error .error-msg {
  display: block;
}
.input-row--error .error {
  color: #ff4136;
}
.input-row--error .style-input-element {
  border: 1px solid #ff4136;
}
.error-msg {
  color: #ff4136;
  margin: 10px 0;
  display: none;
}
.input-cont {
  display: grid;
  grid-gap: 20px;
}
@media only screen and (max-width: 640px) {
  .input-cont {
    grid-row-gap: 0;
  }
}
.input-cont--two {
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 640px) {
  .input-cont--two {
    grid-template-columns: 1fr;
  }
}
.input-cont--three {
  grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width: 640px) {
  .input-cont--three {
    grid-template-columns: 1fr;
  }
}
.input-cont--four {
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 640px) {
  .input-cont--four {
    grid-template-columns: 1fr 1fr;
  }
}
.login-remember {
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .login-remember .style-label {
    align-items: flex-start;
  }
}
.login-remember .style-input-text {
  font-size: 14px;
  color: #111;
  width: calc(100% - 80px);
  line-height: 1.6;
  margin-top: 3px;
}
.login-remember .style-input-text a {
  color: #f53333;
}
.input-get {
  display: flex;
  align-items: stretch;
  margin-bottom: 20px;
}
.input-get .input {
  border-radius: 5px 0 0 5px;
}
.input-get__btn {
  position: relative;
}
.input-get__btn .icon {
  position: absolute;
  width: 14px;
  height: 14px;
  fill: #fff;
  top: 50%;
  left: 50%;
  margin-left: -7px;
  margin-top: -7px;
}
.input-get__btn .input-get__btn-el {
  height: 100%;
  background: #f53333;
  border-radius: 0 5px 5px 0;
  border: 0;
  width: 60px;
}
.input-get__btn .input-get__btn-el:hover {
  background: #f41b1b;
}
.upload-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.upload {
  display: flex;
  border-radius: 10px;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid #ddd;
  box-shadow: 0px 3px 14px #fff;
  transition: all 0.4s;
  margin-bottom: 10px;
}
.upload:hover {
  cursor: pointer;
}
.upload:hover {
  box-shadow: 0px 3px 8px #e3e3e3;
}
.upload__icon {
  padding: 10px;
  border-right: 1px solid #ddd;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload__icon .icon {
  width: 25px;
  height: 25px;
  fill: #ff4136;
}
.upload__text {
  height: 50px;
  margin-left: -1px;
  padding: 15px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload-img__el {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-right: 10px;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.upload-img__el:hover {
  cursor: pointer;
}
.upload-img__el:hover:before {
  content: 'X';
  opacity: 1;
}
.upload-img__el:before {
  content: 'X';
  position: absolute;
  background: rgba(0,0,0,0.702);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0;
  transition: all 0.4s;
}
.upload-btn {
  position: absolute;
  left: -9999px;
}
.incr {
  display: flex;
  position: relative;
}
.incr__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 50%;
}
.incr__nav .icon {
  width: 14px;
  height: 14px;
  fill: $gray;
  transition: all 0.4s;
}
.incr__nav:hover {
  border: 1px solid #f53333;
}
.incr__nav:hover:hover {
  cursor: pointer;
}
.incr__nav:hover .icon {
  fill: #f53333;
}
.incr__nav:active {
  background-color: #ea0b0b;
}
.incr__val {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: relative;
  transition: all 0.4s;
  padding: 0 15px;
}
.incr__val span {
  outline: none;
  user-select: none;
}
.incr-btn .incr-btn-wrap {
  display: none;
}
.incr-btn--active .incr-btn__el {
  display: none;
}
.incr-btn--active .incr-btn-wrap {
  display: block;
}
/* block footer*/
/*block footer end */
body {
  font-family: 'Nunito', sans-serif;
  color: #4e4e4e;
  line-height: 1.2;
  letter-spacing: 0.01em;
  background: #fcfcff;
}
.main-cont {
  *zoom: 1;
  width: auto;
  max-width: 1200px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
  padding: 0 10px;
}
.main-cont:before,
.main-cont:after {
  content: '';
  display: table;
}
.main-cont:after {
  clear: both;
}
@media only screen and (min-width: 1200px) {
  .main-cont {
    width: 1200px;
  }
}
.page {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
.content {
  flex-grow: 1;
}
.content--mid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shrink {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  margin: 0;
  animation: slideInDown 1s 1 ease-in-out;
  z-index: 10;
}
.modal-layer {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: all 1s;
  opacity: 0;
}
.modal-layer-show {
  visibility: visible;
  opacity: 1;
}
.modal-cont {
  width: 100%;
  height: 100%;
  position: relative;
  max-height: 100%;
  overflow: auto;
}
.modal-filter {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(24,25,29,0.631);
  width: 100%;
  height: 100vh;
  min-height: 100vh;
}
.modal {
  transform: scale(0.9) translateZ(0) translate3d(0, 0, 0);
  will-change: transform, opacity;
  backface-visibility: hidden;
  position: absolute;
  opacity: 0;
  transition: transform 0.6s, opacity 0.8s;
  max-width: 400px;
  left: -9999px;
  top: -9999px;
}
@media only screen and (max-width: 640px) {
  .modal {
    width: 100%;
    box-shadow: 0 0 0;
  }
}
.modal .order__row {
  margin-bottom: 20px;
  border-bottom: 0;
}
.modal-content {
  background: #fff;
  position: relative;
  padding: 40px 45px;
  border-radius: 40px;
}
@media only screen and (max-width: 640px) {
  .modal-content {
    height: 100%;
    padding: 20px;
    overflow-y: scroll;
    width: 95% !important;
    margin: 20px auto;
  }
}
.modal__show {
  max-height: 100%;
  opacity: 1;
  transform: scale(1) translateZ(0) translate3d(0, 0, 0);
  position: relative;
  z-index: 1000;
  left: initial;
  top: initial;
  transition: transform 0.6s, opacity 0.8s;
  will-change: transform, opacity;
}
.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: #f8f8f8;
}
@media only screen and (max-width: 768px) {
  .modal-close {
    top: 12px;
    right: 12px;
  }
}
.modal-close:hover {
  cursor: pointer;
}
.modal-close:hover .icon {
  opacity: 1;
}
.modal-close .icon {
  transition: all 0.4s;
  width: 12px;
  height: 12px;
  fill: #111;
  opacity: 0.3;
}
.modal-hide-animation {
  transform: scale(0.9);
  opacity: 0;
  transition: transform 0.6s, opacity 0.8s;
}
.modal-open {
  overflow: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.modal-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  color: #111;
}
@media only screen and (max-width: 768px) {
  .modal-title {
    font-size: 24px;
  }
}
.modal-text {
  text-align: center;
  margin: 20px auto;
  line-height: 1.6;
}
@media only screen and (max-width: 768px) {
  .modal-text {
    width: 100%;
    font-size: 12px;
  }
}
.modal-send {
  width: 100%;
}
.cookie {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  transform: translateY(10px);
  opacity: 0;
  z-index: -1;
  transition: all 0.4s;
}
.cookie--active {
  z-index: 20;
  opacity: 1;
  transform: translateY(0);
}
.cookie-wrap {
  box-shadow: 0px 3px 8px #e3e3e3;
  padding: 15px 20px;
  border-radius: 20px;
  z-index: 10;
  background: #fff;
  display: flex;
  justify-content: space-between;
}
.cookie-wrap .icon {
  transition: all 0.4s;
  width: 14px;
  height: 14px;
  margin-left: 10px;
  fill: $gray;
}
.cookie-wrap .icon:hover {
  fill: #111;
}
.cookie-wrap .icon:hover {
  cursor: pointer;
}
.cookie-text {
  width: calc(100% - 30px);
  font-size: 12px;
}
.dropdown {
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  transition: all 0.4s;
  position: relative;
  border: 1px solid #ddd;
  outline: none !important;
}
.dropdown-current {
  cursor: pointer;
  display: block;
  padding: 10px;
  padding-right: 25px;
  font-weight: 700;
}
.dropdown-current .icon {
  position: absolute;
  top: calc(50% - 6px);
  right: 10px;
  width: 12px;
  height: 12px;
  transition: all 0.4s;
}
.dropdown.active {
  border-radius: 4px 4px 0 0;
}
.dropdown.active .icon {
  transform: rotate(180deg);
}
.dropdown-menu {
  position: absolute;
  background-color: #fff;
  width: calc(100% + 2px);
  left: -1px;
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  display: none;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  border: 1px solid #ddd;
}
.dropdown-menu__el {
  padding: 10px;
  transition: all 0.4s;
  border-bottom: 1px solid #ddd;
}
.dropdown-menu__el:hover {
  cursor: pointer;
}
.dropdown-menu__el:last-child {
  border: 0;
}
.dropdown-menu__el:hover {
  background: #fff;
  color: #111;
}
.cookie {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  transform: translateY(10px);
  opacity: 0;
  z-index: -1;
  transition: all 0.4s;
}
.cookie--active {
  z-index: 20;
  opacity: 1;
  transform: translateY(0);
}
.cookie-wrap {
  padding: 15px 20px;
  border-radius: 20px;
  z-index: 10;
  background: #fff;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
}
.cookie-wrap .icon {
  transition: all 0.4s;
  width: 14px;
  height: 14px;
  margin-left: 10px;
  fill: $gray;
}
.cookie-wrap .icon:hover {
  fill: #111;
}
.cookie-wrap .icon:hover {
  cursor: pointer;
}
.cookie-text {
  width: calc(100% - 30px);
  font-size: 12px;
}
.section-main {
  height: 100vh;
  overflow: hidden;
}
.section {
  padding: 140px 0;
}
@media only screen and (max-width: 768px) {
  .section {
    padding: 50px 0;
  }
}
.section-clear {
  padding-top: 0;
}
@media only screen and (max-width: 1024px) {
  .section--clear-mobile {
    padding-top: 0;
  }
}
.section--dark {
  background: #f9f8ff;
}
.section--mark {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-attachment: fixed;
}
.section--mark:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f7f6ff;
  opacity: 0.95;
}
@media only screen and (max-width: 1440px) {
  .section--order {
    overflow: hidden;
  }
}
.section--clear {
  padding-bottom: 0;
}
.section--extend {
  padding: 150px 0;
}
@media only screen and (max-width: 768px) {
  .section--extend {
    padding: 30px 0;
  }
}
.header-wrap {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: 700;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  font-weight: 700;
}
@media only screen and (max-width: 1024px) {
  .nav {
    display: none;
  }
}
.nav__el {
  color: #111;
}
.nav__el:hover {
  color: #f53333;
}
.descr-img {
  margin: 60px auto 80px auto;
  width: 60%;
}
@media only screen and (max-width: 640px) {
  .descr-img {
    width: 100%;
  }
}
.slogan {
  width: 60%;
}
.slogan-wrap {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slogan__title {
  font-weight: 700;
  font-size: 90px;
  margin-bottom: 20px;
  color: #111;
}
@media only screen and (max-width: 1024px) {
  .slogan__title {
    font-size: 10vw;
  }
}
@media only screen and (max-width: 640px) {
  .slogan__title {
    font-size: 32px;
    text-align: center;
  }
}
.slogan__text {
  margin-bottom: 30px;
  line-height: 1.4;
}
@media only screen and (max-width: 640px) {
  .slogan__text {
    text-align: center;
    line-height: 1.6;
  }
}
.slogan-img {
  position: absolute;
  top: calc(50% - 25%);
  right: -10%;
  width: 50%;
}
.slogan__get-text {
  font-size: 14px;
  color: #f53333;
  display: block;
  margin-top: 10px;
  text-decoration: underline;
  opacity: 0.6;
}
.section-main__icon {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.section-main__icon img {
  width: 70%;
  opacity: 0.04;
  animation: scale 20s linear infinite;
}
.head-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.head-toggle:hover {
  cursor: pointer;
}
@media only screen and (min-width: 1025px) {
  .head-toggle {
    display: none;
  }
}
.head-toggle .icon {
  width: 32px;
  height: 32px;
  fill: #fff;
}
@media only screen and (max-width: 640px) {
  .head-toggle .icon {
    width: 20px;
    height: 20px;
  }
}
.head-toggle .icon-close {
  display: none;
}
.head-toggle.slide-block-toggle--open .icon-close {
  display: block;
}
.head-toggle.slide-block-toggle--open .icon-open {
  display: none;
}
.slide-block {
  position: fixed;
  top: 0px;
  width: 240px;
  transition: all 0.4s;
  height: 100%;
  z-index: 100;
  background: #fff;
  padding: 60px 30px;
}
.slide-block .icon-close {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 25px;
  right: 15px;
}
.slide-nav__el {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 22px;
}
.slide-block--left {
  left: 0;
  transform: translateX(-100%);
}
.slide-block--right {
  right: 0;
  transform: translateX(100%);
}
.slide-block--open {
  transform: translateX(0%);
}
.modal-content--true img {
  max-width: 200px !important;
  margin: 0 auto 20px auto;
}
.section-main__shape img {
  position: absolute;
  left: -20%;
  top: -50%;
  width: 70%;
}
.advant-wrap {
  position: relative;
}
.advant {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}
.advant__el {
  display: flex;
}
.advant__el-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  background: #fff;
  box-shadow: 0px 3px 8px #e3e3e3;
  margin-right: 30px;
}
.advant__el-icon .icon {
  width: 50px;
  height: 50px;
  fill: #f53333;
}
.advant__wrap {
  width: calc(100% - 140px);
}
.advant__el-title {
  font-weight: 700;
  color: #111;
  margin: 20px 0 10px 0;
}
.advant__el-text {
  line-height: 1.4;
  font-size: 14px;
}
.shape {
  position: absolute;
}
.shape-wrap {
  overflow: hidden;
  position: relative;
}
.shape-1 {
  right: -20%;
  top: 0;
}
.shape-2 {
  top: 150%;
  left: -20%;
}
.shape-3 {
  top: 250%;
  right: -20%;
}
.shape-4 {
  bottom: 0;
  left: 10vw;
}
.shape-4 img {
  width: 80%;
}
.shape-5 {
  bottom: 0;
  right: 0;
  opacity: 0.4;
}
.shape-5 img {
  width: 100%;
}
.shape-6 {
  bottom: 0;
  left: 0;
}
.shape-6 img {
  width: 40vw;
}
.water-text {
  color: #fff;
  position: absolute;
  bottom: -20%;
  right: -10%;
  font-size: 20vw;
  line-height: 1;
  opacity: 0.8;
}
.tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
@media only screen and (max-width: 768px) {
  .tools {
    display: block;
    max-width: 640px;
    margin: 0 auto 30px auto;
  }
}
.tools:nth-child(odd) .tools__img {
  order: 2;
  margin-left: -5%;
}
.tools:nth-child(odd) .tools__info {
  padding: 40px 100px 40px 40px;
}
.tools:nth-child(even) .tools__img {
  margin-right: -5%;
}
.tools:nth-child(even) .tools__info {
  padding: 40px 30px 40px 100px;
}
.tools__img {
  width: 60%;
  border-radius: 10px;
  transition: all 0.4s;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .tools__img {
    width: 100%;
    margin-bottom: 20px;
    display: block;
  }
}
.tools__img:hover {
  cursor: pointer;
}
.tools__img img {
  position: relative;
  z-index: 10;
  border-radius: 10px;
}
.tools__img:hover {
  transform: scale(1.03);
}
.tools__img--clear {
  width: 45%;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .tools__img--clear {
    width: 100%;
    margin-bottom: 20px;
    display: block;
  }
}
.tools__img--clear:hover {
  cursor: pointer;
}
.tools__img--clear img {
  position: relative;
  z-index: 10;
}
.tools__info {
  width: 65%;
  background: #fff;
  border-radius: 20px;
}
@media only screen and (max-width: 768px) {
  .tools__info {
    width: 100%;
  }
}
.tools__title {
  font-weight: 700;
  margin-bottom: 10px;
  color: #111;
}
.tools__text {
  line-height: 1.6;
}
.solution {
  display: flex;
  justify-content: space-between;
}
.solution__title {
  font-weight: 700;
  width: 40%;
  color: #111;
}
.solution__info {
  width: 55%;
  display: grid;
  grid-row-gap: 40px;
  grid-column-gap: 40px;
  grid-template-columns: repeat(2, 1fr);
}
.solution__el {
  border-radius: 10px;
  display: inline-block;
  line-height: 1.6;
  position: relative;
}
.solution__el:before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 2px;
  left: -20px;
  top: 8px;
  background: #f53333;
  position: absolute;
  opacity: 0.4;
}
.payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-grow;
}
.payment__el {
  width: 30%;
  background: #fff;
  padding: 80px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  box-shadow: 0px 20px 20px #f6eeff;
  text-align: center;
  border-radius: 20px;
}
@media only screen and (max-width: 960px) {
  .payment__el {
    width: 60%;
    margin: 0 auto 20px auto;
  }
}
@media only screen and (max-width: 640px) {
  .payment__el {
    width: 100%;
    padding: 30px;
  }
}
.payment__title {
  font-weight: 700;
  color: #111;
  margin-bottom: 15px;
}
.payment__descr {
  font-weight: 700;
  margin-bottom: 20px;
}
.payment__cost {
  font-weight: 700;
  color: #111;
  margin: 30px 0;
}
@media only screen and (max-width: 640px) {
  .payment__cost {
    margin: 15px 0;
  }
}
.payment__cost span {
  opacity: 0.6;
  font-size: 18px;
  display: block;
}
.payment__cost-text {
  margin-bottom: 20px;
  line-height: 1.6;
}
.payment__get {
  margin-top: auto;
  padding: 18px;
  width: 100%;
}
.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  .order {
    display: block;
    max-width: 640px;
  }
}
.order__info {
  width: 40%;
}
@media only screen and (max-width: 1024px) {
  .order__info {
    width: 100%;
  }
}
.order-title {
  font-size: 92px;
  font-weight: 700;
  color: #111;
  margin-bottom: 40px;
  line-height: 1;
}
@media only screen and (max-width: 768px) {
  .order-title {
    font-size: 12vw;
  }
}
.order-text {
  line-height: 1.6;
}
@media only screen and (max-width: 1024px) {
  .order-text {
    margin-bottom: 40px;
  }
}
.order-form-el {
  position: relative;
  z-index: 5;
  padding: 50px 40px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 20px 20px #f6eeff;
}
@media only screen and (max-width: 640px) {
  .order-form-el {
    padding: 30px 20px;
  }
}
.order__form {
  width: 40%;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .order__form {
    width: 100%;
  }
}
.footer-wrap {
  padding: 30px 0;
  margin-top: 60px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.footer-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #111;
}
@media only screen and (max-width: 640px) {
  .footer-title {
    font-size: 12vw;
  }
}
.footer-text {
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.4;
  opacity: 0.8;
}
.footer-phone {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 700;
}
.footer-mail {
  display: inline-block;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 768px;
  width: 100%;
  margin-bottom: 60px;
}
.footer-nav__el {
  font-weight: 700;
}
.footer-logo {
  opacity: 0.8;
}
.soc-row {
  display: flex;
  margin: 30px;
  color: #111;
}
.soc-row a {
  color: #111;
}
.soc-row__el {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background: #f6f4ff;
}
.soc-row__el:hover {
  background: #f53333;
}
.soc-row__el:hover .icon {
  fill: #fff;
  opacity: 1;
}
.soc-row__el .icon {
  transition: all 0.4s;
  opacity: 0.4;
  width: 18px;
  height: 18px;
}
.business {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.business__img {
  width: 45%;
}
.business__info {
  width: 45%;
}
.list li {
  margin-bottom: 10px;
  line-height: 1.4;
  list-style: none;
  position: relative;
}
.list li:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background: #f53333;
  opacity: 0.8;
  top: 8px;
  left: -25px;
}
.why {
  column-count: 2;
  column-gap: 60px;
}
@media only screen and (max-width: 640px) {
  .why {
    column-count: 1;
  }
}
.why li {
  line-height: 1.4;
  margin-bottom: 20px;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
}
@media only screen and (max-width: 1024px) {
  .about-img {
    width: 100%;
    position: static;
    top: 0;
    margin-bottom: 20px;
  }
}
.about-img img {
  width: 85%;
}
.about-wrap {
  position: relative;
}
.about-info {
  width: 45%;
  margin-left: auto;
}
@media only screen and (max-width: 1024px) {
  .about-info {
    width: 100%;
  }
}
.about-title {
  font-weight: 700;
  color: #111;
  margin-bottom: 30px;
}
@media only screen and (max-width: 640px) {
  .about-title {
    text-align: center;
  }
}
@media only screen and (max-width: 640px) {
  .about-list {
    padding-left: 15px;
  }
}
.about-list li {
  margin-bottom: 20px;
  line-height: 1.6;
}
.input-row--error .error {
  margin-top: 10px;
  display: block;
  margin-bottom: -10px;
  color: #f53333;
  font-weight: 700;
  font-size: 12px;
}
.input-row--error .input {
  border-color: #f53333;
}
@-moz-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
