include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.main-cont
			h1 hellow
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consectetur cupiditate doloribus impedit iure libero natus quibusdam sequi ut voluptatem.
	+footer()
include ./block_html/_script.pug
